{% extends 'tracker/base.html' %}
{% load widget_tweaks %}

{% block body %}
<!-- Main Content -->
<main class="flex-grow container mx-auto py-8">
    <!-- Follow-up Form -->
    <div class="bg-white p-6 rounded-lg shadow-lg max-w-2xl mx-auto">
        <h2 class="text-xl font-bold text-black-600">Add Follow-Up</h2>
        <form action="{% url 'add_followup' %}" method="post">
            {% csrf_token %}
            
            <!-- Evangelism Selection -->
            <div class="mt-4">
                <label for="evangelism" class="block text-gray-700">Select Evangelism</label>
                {% render_field form.evangelism class="mt-2 w-full p-2 border border-gray-300 rounded-lg" %}
            </div>

            <!-- Follow-up Date -->
            <div class="mt-4">
                <label for="date" class="block text-gray-700">Follow-up Date</label>
                <input id="date" name="date" type="text" class="flatpickr mt-2 w-full p-2 border border-gray-300 rounded-lg">
            </div>

            <!-- Completed Checkbox -->
            <div class="mt-4">
                <label for="completed" class="block text-gray-700">Completed?</label>
                <input type="checkbox" name="completed" id="completed" class="mt-2 p-2">
            </div>

            <button type="submit" class="mt-6 w-full py-2 bg-teal-500 text-white rounded hover:bg-teal-600">Add Follow-Up</button>
        </form>
    </div>
</main>

{% endblock body %}
