{% extends 'tracker/base.html' %}

{% block body %}
    
        <!-- Main Content -->
        <main class="flex-grow container mx-auto py-8">
            <!-- Scheduled Activity -->
            
            {% if followup %}
                <div class="bg-white p-6 rounded-lg shadow-lg">
                    <h2 class="text-xl font-bold text-black-600">Today's Activity</h2>
                    <p class="mt-2 text-gray-600">Here's your scheduled activity for today:</p>
                    <div class="mt-4 bg-gradient-to-r from-orange-100 to-teal-100 p-5 rounded-lg shadow">
                        <h3 class="font-bold text-gray-700">Follow up: <span class="text-orange-700">{{ followup.person_name }}</span></h3>
                        <p class="font-bold text-gray-700 mt-2">Details: <span class="text-orange-700">{{ followup.location }}</span></p>
                        <p class="font-bold text-gray-700 mt-2">Status: <span class="text-orange-700">{{ followup.faith }}</span></p>
                    </div>
                </div>
            {% else %}
                <div class="bg-white p-6 rounded-lg shadow-lg">
                    <h2 class="text-xl font-bold text-black-600">Today's Activity</h2>
                    <p class="mt-2 text-gray-600">Here's your scheduled activity for today:</p>
                    <div class="mt-4 bg-gradient-to-r from-orange-100 to-teal-100 p-5 rounded-lg shadow">
                        <h3 class="font-bold text-orange-700">Evangelism</h3>
                        <p class="text-gray-700 mt-2">Listen, Go into the nations, and preach GOD's gospel.</p>
                    </div>
                </div>
            {% endif %}
                

            <!-- Overview Section -->
            <div class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-6">
                <!-- Total Follow-Ups -->
                <div class="bg-gradient-to-b from-teal-50 to-orange-50 p-6 rounded-lg shadow-md">
                    <h3 class="text-lg font-bold text-black-600">Activity Sum up</h3>
                    <p class="mt-2 text-gray-600">Track your activities so far:</p>
                    
                
                    <div class="mt-4 text-orange-700 font-bold text-3xl">{{ total_followup }} <small>{% if total_followup != 1 %}Follow ups {% else %}Follow up {% endif %}</small></div>
                    <div class="mt-4 text-orange-700 font-bold text-3xl">{{ total_evangelism }} <small>{% if total_evangelism != 1 %}Evangelisms {% else %}Evangelism {% endif %}</small></div>
                </div>

                <!-- Quick View -->
                <div class="bg-white p-6 rounded-lg shadow-md">
                    <h3 class="text-lg font-bold text-teal-600">Quick View</h3>
                    <p class="mt-2 text-gray-600">Check your follow-ups in:</p>
                    <div class="mt-4 flex space-x-4">
                        <button class="px-4 py-2 bg-teal-500 text-white rounded hover:bg-teal-600">Calendar</button>
                        <button class="px-4 py-2 bg-orange-500 text-white rounded hover:bg-orange-600">List</button>
                    </div>
                </div>
            </div>
        </main>

{% endblock body %}
